<% provide(:title, 'All Users') %>
<h1>利用者一覧</h1>

<div class="col-md-10 col-md-offset-1">
  <%= will_paginate %>
  <table class="table table-condenced table-hover" id="table-users">
    <thead>
      <tr>
        <th><%= User.human_attribute_name :name %></th>
      </tr>
    </thead>
    <tbody>
      
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.name, user %>
          
          <% unless current_user.admin? && !current_user?(user)%>
          <li class="label label-primary label-user-division" %>管理者</li>
          <% else %>
          <li class="label label-success label-user-division" %>一般</li>
        </td>
        <td>
            <%= link_to "削除", user, method: :delete,
                data: { confirm: "#{user.name}削除してよろしいですか？"},
                class: "btn btn-sm btn-danger pull-right" %>
          <% end %>   
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <%= will_paginate %>
</div>
